<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>SMK Wikrama 1 Garut</title>

    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">SMK Wikrama 1 Garut</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#profil">Profil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tentang">Tentang</a>
            </li>
          </ul>
          <button class="btn btn-outline-light my-2" id="daftarButton">
            Daftar Sekarang!
          </button>
        </div>
      </nav>
    </header>

    <main>
      <section
        class="container-fluid bg-blue-grey-100 py-lg-4 py-3"
        id="profil"
      >
        <div class="container">
          <div class="row">
            <div class="col" id="mainCol">
              <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>Ayah</th>
                    <th>Ibu</th>
                    <th>Wali</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let siswa of siswas) { %>
                  <tr>
                    <td><a href="/admin/siswa/<%= siswa._id %>"><%= siswa.data_siswa.nama_lengkap %></a></td>
                    <td><%= siswa.tempat_tinggal.email %></td>

                    <% for (let orang_tua of siswa.orang_tua) {
                      if (orang_tua.tipe === "Ayah") { %>
                    <td><%= orang_tua.nama %></td>
                    <% }} %>

                    <% for (let orang_tua of siswa.orang_tua) {
                      if (orang_tua.tipe === "Ibu") { %>
                    <td><%= orang_tua.nama %></td>
                    <% }} %>

                    <% for (let orang_tua of siswa.orang_tua) {
                      if (orang_tua.tipe === "Wali") { %>
                    <td><%= orang_tua.nama %></td>
                    <% }} %>

                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="navbar navbar-dark bg-dark justify-content-center">
      <p class="text-white text-center">
        Made by Erick Christian, with the help of Bootstrap
      </p>
    </footer>

    <script src="/assets/jquery/dist/jquery.js"></script>
    <script src="/assets/js/popper.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
